/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$blackish: #232322;
$magenta: #9E2162;
$platinum: #FFFFFF;
$darkmoss: #52683B;
$moss: #90A33E;
$pink: #ECA7CB;
$lightpink: #F5D1E4;

// Base document colors
$navbar-bg: $darkmoss; //navbar
$navbar-fg: $platinum; // navbar foreground elements
$navbar-hl: $moss; // highlight color when hovering over navbar links
$body-bg: $platinum; // page background
$body-color: $blackish; //page text
$footer-bg: $magenta; // footer
$footer-fg: $lightpink; //footer foreground elements
$link-color: $magenta; // hyperlinks

// Inline code
$code-bg: $lightpink; // inline code background color
$code-color: $magenta; // inline code text color

// Code blocks
$code-block-bg: $platinum; // code block background color

/*-- use vars in CSS rules (we'll learn more about how to write CSS soon!) --*/
h1 {
  font-color: $blackish;
  font-family: 'PW Smokey';
}

.button-styling {
  background: $darkmoss;
  color: $moss; 
  border-color: $blackish;
}

/* pw smokey */
@font-face {
  font-family: 'PW Smokey';
  src: local('PW Smokey'), url('fonts/PWSmokey.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

div.home-content
{
   overflow:scroll;
}